@font-face {
	font-family:'Avenir-Next';
	font-style:normal;
	font-weight: 200;
	src:url('/fonts/avenirnext/AvenirNext-Regular.woff') format('woff'), url('/font/avenirnext/AvenirNext-Regular.tff') format('truetype');
/*	*src:url('');*/
}

@font-face {
	font-family:'Avenir-Next';
	font-style:normal;
	font-weight: 300;
	src:url(/fonts/avenirnext/AvenirNext-Medium.woff') format('woff'), url('/font/avenirnext/AvenirNext-Medium.tff') format('truetype');
/*	*src:url('');*/
}
